
.header{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 91%;

    background: rgba(86, 214, 222, 0.63);
}
.container{
    display: grid;
    height: 100vh;

;

}

.footer{
    /*!* Футер *!*/


    position: absolute;
    left: 0%;
    right: 0%;
    top: 88.28%;
    bottom: 0%;
    background: rgba(201, 115, 242, 0.51);
}
#columns{
    display: grid;
    align-content: center;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows:minmax(150px,auto) 50% 20% minmax(120px,auto) ;
    grid-column-gap: 20px;
}
.inputBox{
    /* серая обводка */


    box-sizing: border-box;
    width: 420px;
    height: 620px;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
}
.filling{
    /* Заливка */

rshyrftdhjuyhgjnyhgjfrdj


    /*!* блу-перпл *!*/
    background: linear-gradient(180deg, rgba(173, 250, 255, 0.51) 37.24%, rgba(201, 115, 242, 0.102) 100%);
    border-radius: 10px 10px 16px 16px;

}

div.toDo{

grid-column: 2/3;
    grid-row: 2/3;
    box-sizing: border-box;
    width: 420px;
    height: 620px;
    border: 1px solid #D9D9D9;
    border-radius: 10px;


}
h2{
    /* TO DO */



    font-family: 'Kdam Thmor';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 43px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: capitalize;

    color: #FFFFFF;

    border: 1px solid rgba(255, 255, 255, 0.84);
    height: 49px;
    background: rgba(133, 70, 240, 0.87);
    border-radius: 10px 10px 0px 0px;


  }
div.inProgress{

    grid-column: 3/4;
    grid-row: 2/3;
    box-sizing: border-box;
    border: 1px solid #D9D9D9;
    border-radius: 10px;


}
div.completed{


    grid-column: 4/5;
    grid-row: 2/3;
    box-sizing: border-box;
    border: 1px solid #D9D9D9;
    border-radius: 10px;


}